.header {
  display: block;
  width: 100%;
  height: 90vh;
  margin-inline: 0;
  background-image: url('../assets/father.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -ms-border-radius: 0 0 100px 0;
  -o-border-radius: 0 0 100px 0;
}

.header div {
  padding-top: 10rem;
  padding-inline: 15%;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  color: #fff;
  background: rgba(67, 134, 180, 0.8);
  font-size: 20px;
  border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -ms-border-radius: 0 0 100px 0;
  -o-border-radius: 0 0 100px 0;
}

.header div .blinking-text {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}

.blinking-cursor {
  margin-left: -15px;
  font-size: 2rem;
  color: #d0d0d0;
  margin-left: 0.5rem;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .header div {
    padding-inline: 5%;
  }
}
