nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  padding-inline: 8%;
  padding-block: 10px;
}

.menu {
  display: none;
  font-size: 32px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.close {
  display: none;
  font-size: 40px;
  margin-right: 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: #444d53;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav h1 {
  color: #dbe0e4;
  font-size: 1.875rem;
  font-weight: 700;
}

nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

nav img {
  width: 3.063rem;
  height: 3.063rem;
}

nav ul li a {
  color: #373839;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a.active {
  color: #dbe0e4;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menu,
  .close {
    display: block;
  }

  .primary-nav {
    position: absolute;
    margin: 0;
    left: 0;
    top: -100px;
    width: 100%;
    background: #fff;
    padding: 20px 10%;
    transition: all 300ms ease-in-out  ;
    -webkit-transition: all 300ms ease-in-out  ;
    -moz-transition: all 300ms ease-in-out  ;
    -ms-transition: all 300ms ease-in-out  ;
    -o-transition: all 300ms ease-in-out  ;
}

  .render {
    top: 0;
  }

  .primary-nav li {
    text-align: center;
  }

  nav ul li a.active {
    color: #4c7da4;
    text-decoration: underline;
    font-size: 20px;
  }
}
